*{
    margin: 0;
    padding: 0;
}

body{
    background: url(../pic1.jpg) no-repeat center center fixed;
    background-size: cover; 
}

.container{
    /* border: 12px solid black; */
    color: white;
    position: absolute;
    top: 30%;
    left: 70%;
}
.box{
    width: 100%;
    border-bottom: 5px solid rgb(143, 90, 21);
}
.container p{
    margin: 23px 3px;
}
.container i{
    width: 5%;
    padding-right: 3px;
    text-align: center;
}
.container input{
    background: none;
    width: 70%;
    outline: none;
    border: none;
}

.container ::placeholder{
    color: white;
}

.btn{
    cursor: pointer;
    outline: none;
    width: 25%;
    margin-top: 18px;
    padding-top: 2px;
}
/* .box {
    width: 100%;
} */

/* .box input{
    width: 70%;
    
    outline: none;
    color: white;
    margin: 2px 23px;
    font-size: 20px;
} */