<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet"> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style8.css') }}">
</head>
<body>
    <header>
    <div class="wrapper">
<ul class="nav-area">
<li><a href="/">Home</a></li>
<li><a href="/aboutus">About</a></li>
<li><a href="/services">Services</a></li>
<li><a href="/profile">Profile</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
</div>
<div class="welcome-text">
        <h1>
            This website was made by two students for their <span>DBMS course project</span>.<br><br>
            <span>Sanidhya Maharia</span> is a student in his 3rd year of BTech. He was responsible for connecting the frontend to the backend, testing the website and making sure everything works as it should.<br><br>
            <span>Shubhradeep Saha</span> is a student in his 3rd year of BTech. He was responsible for designing pages and making them look good.<br><br>
            Both of them worked collectively on the backend.
            </h1>
    </div>
</header>

</body>
</html>