<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet"> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style8.css') }}">
</head>
<body>
    <header>
    <div class="wrapper">
<ul class="nav-area">
<li><a href="/">Home</a></li>
<li><a href="/aboutus">About</a></li>
<li><a href="/services">Services</a></li>
<li><a href="/profile">Profile</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
</div>
<div class="welcome-text">
        <h1>
            Let us know if you find any bugs or issues<br><br>

            <span>Sanidhya Maharia</span><br>
            Email: sanidhyamaharia@gmail.com<br>
            <a href="https://github.com/Sanidhya-Maharia" target="_blank">Github</a><br><br>
            
            <span>Shubhradeep Saha</span><br>
            Email: sbdmonjr@gmail.com<br>
            <a href="https://github.com/Jonty01" target="_blank">Github</a>
            </h1>
    </div>
</header>

</body>
</html>