<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style4.css') }}">
</head>
<body>
    <div class="content">
        <div class="text">Edit your<br>Profile</div>
        <div class="error">
            {% if alert %}
              <p><strong>Error</strong>: {{alert}}</p>
            {% endif %}
        </div>
    <form action="/editprofile" method="POST">
        <div class="field">
          <input type="text" name="firstname" placeholder="Enter Your First Name" required />
        </div>
        
        <div class="field">
          <input type="text" name="lastname" placeholder="Enter Your Last Name" required />
        </div>

        <div class="field">
            <input type="text" name="email" placeholder="Enter email id" />
        </div>

        <div class="field">
            <input type="number" name="phno" placeholder="Enter phone number" required />
        </div>

        <div class="field">
            <input type="number" name="pincode" placeholder="Enter PIN code" required />
        </div>

        <div class="field">
            <div class="label">City:</div>
            <select name="city">
                <option>Hyderabad</option>
                <option>Bangalore</option>
                <option>Jaipur</option>
            </select>
        </div>
        <button>UPDATE</button>
      </form>
      </div>
</body>
</html>