<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style1.css') }}">
</head>
<body>
    <div class="content">
        <header>
            <div class="wrapper">
                <ul class="nav-area">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </div>
            <div class="welcome-text">
                <h1>Welcome <span><strong>{{username}}</strong></span></h1>
                <a href="/volunteer">Volunteer</a>
                <a href="/search">Search</a>
            </div>
        </header>
    </div>
</body>
</html>