<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Care Volunteer</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <img src="OIP2.png" alt="petcare.com">
        </div>

        <ul>
            <!-- <li class="item"><a href="#">Home</a></li> -->
            <li class="item"><a href="services.html">Services</a></li>
            <li class="item"><a href="#">About Us</a></li>
            <li class="item"><a href="#">Contact Us</a></li>
            <li class="item"><a href="#">Help</a></li>
        </ul>
    </nav>

    <section id="home">
        <h1 class="h-primary">Welcome To Your Pet Care Platform</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button class="btn"><a href="services.html">Get Started</a></button>
    </section>

    <section class="services-container">
         <h1 class="h-primary center"></h1>
    </section>
</body>
</html>