<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style7.css">
</head>
<body>
    <!-- <div class="content">
        <div class="field"> 
            Name: 
        </div>
        <div class="field">
            E-Mail: 
        </div>
        <div class="field">
            Phone Number: 
        </div>
        <div class="field">
            PIN Code: 
        </div>
        <div class="field">
            City: 
        </div>
    </div> -->
    <div class="card">
        <h1><strong>{{username}}</strong></h1>
        <p class="title">Volunteer</p>
        <p>Email Id</p>
        <p>Ph No</p>
        <p>PIN</p>
        <p>City</p>
    </div>
</body>
</html>