<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet"> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style8.css') }}">
</head>
<body>
    <header>
    <div class="wrapper">
<ul class="nav-area">
<li><a href="/">Home</a></li>
<li><a href="/aboutus">About</a></li>
<li><a href="/services">Services</a></li>
<li><a href="/profile">Profile</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
</div>
<div class="welcome-text">
        <h1>
Have you ever not been permitted to own a pet because of the same old question “But where will we leave it when we go out?”. Are you a pet owner and are tired of calling up uninterested friends and family every time you want to leave your pet somewhere while you go on a business trip? Or are you not sure about owning a pet and want to experience what it feels like caring for one?<br><br>
Well, fret not because the solution to all these problems is right here!<br><br>
Our website offers a platform for a petcare volunteer service.<br><br>
You can look for volunteers in your area and contact them anytime you need to leave your pet in someone else’s care for a few days.<br><br>
Or, you can volunteer yourself and look after someone else’s pet for a few days while they’re away.<br><br>
<span>Sign up</span> today for free!</h1>
    </div>
</header>

</body>
</html>