<!doctype html>
<html>
   <body>
        <form action = "/volunteer" method = "POST">
            <p>Start date <input type = "date" name = "sdate" /></p>
            <p>End date <input type = "date" name = "edate" /></p>
            <label for="pref">Select your pet preference:</label>
            <select name="pref" id="pref">
                <option value="Aquatic">Aquatic</option>
                <option value="Small pets">Small pets</option>
                <option value="Big pets">Big pets</option>
                <option value="Anything">Anything</option>
            </select>
            <p><input type = "submit" value = "Volunteer" /></p>
      </form>
   </body>
</html>