
*{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background: url(../o2.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container{
    width: 330px;
    border-radius: 5px;
    padding: 40px 30px;
    margin-top: 70px;
    /* margin-left: 55px; */
    box-shadow: -3px -3px 9px #aaa9a9a2,
                3px 3px 7px rgba(147, 149, 151, 0.671);
                background-color: rgba(255,255,255,0.13);
                backdrop-filter: blur(10px);
}

.container .form-outer{
    width: 100%;
    overflow: hidden;
}

.form-outer form{
    display: flex;
    width: 400%;
}

.form-outer form .page{
    width: 25%;
}

.form-outer form .page title{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.form-outer form .page .field{
    height: 45px;
    width: 330px;
    margin: 45px 0;
    display: flex;
    position: relative;
}

.form-outer form .page .field .label{
    position: absolute;
    top: -30px;
    font-weight: 500;
}

.form-outer form .page .field input{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 15px;
}

/* .form-outer form .page .field button{
    width: 100%;
    height: calc(100% + 5px);
    margin-top: -20px;
    border: none;
    background: darkkhaki;
    color: white;
    font-size: 18px;
    font-size: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}

.form-outer form .page .field button:hover{
    
} */
/* form .page .field select{
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
} */

.form-outer form .page .field button{
    margin: 25px 0 0 0;
    width: 100%;
    height: 50px;
    color: rgb(238, 226, 226);
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.438);
    border-radius: 8px;
    background: rgba(105, 105, 105, 0);
    margin-top: 40px;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    text-transform: uppercase;
  }

/* .form-outer form .page .btns button{
    margin-top: -20px !important;
}

form .page .btns button .prev{
    margin-right: 3px;
    font-size: 17px;
}

form .page .btns button .next{
    margin-left: 3px;
    font-size: 17px;
} */