*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  
}

body{
  background: url(../pr.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.home {
  list-style: none;
  margin-top: 30px;
}

.home li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  font-family: poppins;
  font-size: 16px;
  text-transform: uppercase;
}
.home li a:hover {
  background: #fff;
  color: #333;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    /* background: white; */
    box-shadow: -3px -3px 9px #aaa9a9a2,
                3px 3px 7px rgba(147, 149, 151, 0.671);
                background-color: rgba(255,255,255,0.13);
                backdrop-filter: blur(10px);
  }

  .card .title {
    color: aquamarine;
    font-size: 26px;
    margin: 14px;
    font-family: 'Baloo Bhaijaan 2', cursive;
  }

  h1{
    font-size: 36px;
    font-family: 'Baloo Bhaijaan 2', cursive;
  }

  p{
      margin: 10px;
      color: aliceblue;
      font-size: 24px;
      font-family: 'Baloo Bhaijaan 2', cursive;
  }

  .card a{
    border: 1px solid #fff;
    padding: 10px 25px;
	  text-decoration: none;
    text-transform: uppercase;
	  font-size: 14px;
	  margin-top: 20px;
	  display: inline-block;
    font-weight: 300;
    color: aliceblue;
  }

  .card a:hover{
    background: #fff;
    color: #333;
  }



