*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;   
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 200px;
  }

  .title {
    color: grey;
    font-size: 18px;
    margin: 16px;
  }

  p{
      margin: 10px;
  }