*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url(../2.jpg);
    background-position: center;
  background-repeat: no-repeat;
  /* height: 800px; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}

body{
    display: grid;
    place-items: center;
    text-align: center;
    background-size: cover;
}

.box{
    margin-top: -140px;
}

span{
    margin-left: 20px;
    margin-right: 90px;
    padding-left: 70px;
}

span input{
    font-size: 18px;
    height: 100%;
    outline: none;
    border: none;
    color: black;
    border: 1px solid rgba(255, 255, 255, 0.438);
    border-radius: 8px;
    background: rgba(105, 105, 105, 0);
}

/* .content .btn{
    margin: 25px 0 0 0;
    width: 7%;
    height: 50px;
    color: rgb(238, 226, 226);
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.438);
    border-radius: 28px;
    background: rgba(105, 105, 105, 0);
    margin-top: 40px;
    padding-left: -100px;
    outline: none;
    cursor: pointer; 
} */
button{
    margin: 25px 0 0 0;
    width: 7%;
    height: 50px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.438);
    border-radius: 28px;
    background: rgba(105, 105, 105, 0);
    margin-top: 80px;
    padding-left: -100px;
    outline: none;
    cursor: pointer;
  }

  button:hover{
      background: aliceblue;
  }